.home-container {
  text-align: center;
  padding: 60px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  padding: 30px;
  border-radius: 12px;
  background: #1e1e1e;
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background: #2a2a2a;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  color: #aaa;
}
